body {
    font-family: Arial, sans-serif;
    background-color: #f1f4f2;
    color: #333;
    line-height: 1.6;
}


.top-header {
    background: linear-gradient(90deg, #081c15, #2d6a4f);
    color: white;
    padding: 20px;
    position: relative;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}


 .kontakt-form {
    background: #fff;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 18px;
}

.kontakt-form label {
    font-weight: bold;
}

.kontakt-form input,
.kontakt-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.kontakt-form button {
    width: 100%;
    padding: 14px;
    background-color: #2d6a4f;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.kontakt-form button:hover {
    background-color: #1b4332;
}