
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f4f2;
    color: #333;
    line-height: 1.6;
}


.top-header {
    background: linear-gradient(90deg, #081c15, #2d6a4f);
    color: white;
    padding: 20px;
    position: relative;
}

#menu-toggle {
    display: none;
}

.hamburger {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 32px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: white;
    margin: 6px 0;
}


.mobile-menu {
    display: none;
    background-color: #2d6a4f;
    margin-top: 15px;
    border-radius: 12px;
}

.mobile-menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu-toggle:checked + .hamburger + .mobile-menu {
    display: block;
}


.hero {
    height: 420px;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
                url("img/hero.jpg") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero-content h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.hero-btn {
    display: inline-block;
    background-color: #95d5b2;
    color: #081c15;
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}


.container {
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}


.trasy {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.trasa {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.trasa img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.trasa div {
    padding: 20px;
}

.trasa h3 {
    margin-bottom: 10px;
    color: #1b4332;
}

.rating {
    color: gold;
    margin: 8px 0;
}


.detail-img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}


.kontakt-form {
    background: #fff;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 18px;
}

.kontakt-form label {
    font-weight: bold;
}

.kontakt-form input,
.kontakt-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.kontakt-form button {
    width: 100%;
    padding: 14px;
    background-color: #2d6a4f;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.kontakt-form button:hover {
    background-color: #1b4332;
}


footer {
    background-color: #081c15;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 333px;
} 
.trail-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.2s;     } 